My Year on Spotify

Con ayuda de https://old.tacosdedatos.com/mas-data-viz-con-spotify-python

In [99]:
import calendar
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import timedelta


df = pd.read_csv('data/streaming_history.csv')
df.head()

,endTime,artistName,trackName,msPlayed
0,2021-05-22 00:25,Los Ángeles Azules,Me Cuesta Tanto Olvidarte,93993
1,2021-05-25 05:57,Fobia,Vivo,2834
2,2021-05-25 05:57,T.M.Revolution,HEART OF SWORD 〜夜明け前〜,7401
3,2021-05-25 05:57,T.M.Revolution,HEART OF SWORD 〜夜明け前〜,244333
4,2021-05-25 06:03,Night Tempo,Stay with Me - Night Tempo Showa Groove Mix,341746

In [100]:
# rename columns
df = df.rename(columns={"endTime": "date", "msPlayed": "timePlayed"})
df.head()

,date,artistName,trackName,timePlayed
0,2021-05-22 00:25,Los Ángeles Azules,Me Cuesta Tanto Olvidarte,93993
1,2021-05-25 05:57,Fobia,Vivo,2834
2,2021-05-25 05:57,T.M.Revolution,HEART OF SWORD 〜夜明け前〜,7401
3,2021-05-25 05:57,T.M.Revolution,HEART OF SWORD 〜夜明け前〜,244333
4,2021-05-25 06:03,Night Tempo,Stay with Me - Night Tempo Showa Groove Mix,341746

In [101]:
df["date"] = pd.to_datetime(df["date"])
df["date"]  = df["date"].dt.floor('d')
df.head()

,date,artistName,trackName,timePlayed
0,2021-05-22,Los Ángeles Azules,Me Cuesta Tanto Olvidarte,93993
1,2021-05-25,Fobia,Vivo,2834
2,2021-05-25,T.M.Revolution,HEART OF SWORD 〜夜明け前〜,7401
3,2021-05-25,T.M.Revolution,HEART OF SWORD 〜夜明け前〜,244333
4,2021-05-25,Night Tempo,Stay with Me - Night Tempo Showa Groove Mix,341746

In [ ]:
# df.set_index('date', inplace=True)
# print(df.index.date)

In [102]:
df['timePlayed'] = pd.to_timedelta(df['timePlayed'], unit='ms')
df['timePlayed'] = df['timePlayed'].dt.total_seconds() / 60
df.head()

,date,artistName,trackName,timePlayed
0,2021-05-22,Los Ángeles Azules,Me Cuesta Tanto Olvidarte,1.566550
1,2021-05-25,Fobia,Vivo,0.047233
2,2021-05-25,T.M.Revolution,HEART OF SWORD 〜夜明け前〜,0.123350
3,2021-05-25,T.M.Revolution,HEART OF SWORD 〜夜明け前〜,4.072217
4,2021-05-25,Night Tempo,Stay with Me - Night Tempo Showa Groove Mix,5.695767

Luego vamos a obtener un conteo de canciones por día, que día de la semana es, y que número de semana corresponde cada fecha:

In [103]:
by_date = df.groupby("date")[["trackName"]].count()
by_date = by_date.sort_index()

In [104]:
by_date["weekday"] = by_date.index.weekday
by_date["week"] = by_date.index.week
by_date.head()

C:\Users\iris9\AppData\Local\Temp\ipykernel_28612\3829240475.py:2: FutureWarning: weekofyear and week have been deprecated, please use DatetimeIndex.isocalendar().week instead, which returns a Series. To exactly reproduce the behavior of week and weekofyear and return an Index, you may call pd.Int64Index(idx.isocalendar().week)
  by_date["week"] = by_date.index.week

            trackName  weekday  week
date
2021-05-22          1        5    20
2021-05-25         75        1    21
2021-05-26         62        2    21
2021-05-27        217        3    21
2021-05-28        177        4    21